<!DOCTYPE html>
<html lang="en">
<head>
    <title>MGMCET Library</title>
    <link rel="stylesheet" href="../css/App.css">
</head>
<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">MGMCET</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">BOOKS</a></li>                
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">CONTACT US</a></li>
                </ul>
            </div>
        </div> 
        </div>
    </div>
</body>
</html>